/* Authorise.css */


.body-auth {
    margin: 0;
    padding: 0;
}

.body-auth {
    height: 100vh;
    /* Apply background color to the section */
    background-color: #def0ff;
}
.main-container-auth {
    display: flex;
    width: 100%;
    height: 100%;
}

.signIn-text-auth {
    background-color: white;
    width: 50%;
}

.image-container {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;    
    justify-content: flex-end;
    width: 50%;
}

.image {
    margin: 0;
    border: 0;
    padding: 0;
    width: 80%; 
    height: auto;
}


@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        background-color: white;
    }

    .signIn-text {
        width: 100%;
    }

    .image-container {
        display: none;
    }
}
