

.payment {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .sidebar {
    width: 200px;

    color: #fff;
    padding: 20px;
  }
  
  .sidebar img {
    height: 30px;
    margin-right: 10px;
  }
  
  .sidebar h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
  }
  
  .sidebar button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .sidebar button svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .sidebar div {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .sidebar div svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card-header h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-header p {
  font-size: 14px;
  color: #777;
  margin: 0;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: flex;
  font-size: 125%;
  font-weight: bolder;
  margin-bottom: 5px;
 
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.form-group textarea {
  height: 100px;
}

.btn-primary {
  background-color: #4285f4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #3367d6;
}

textarea{
  height: 15vh; 
  resize : none;
  
}

textarea::placeholder {
 
  font-weight: 200;
  font-family: 'Arial', sans-serif;
}

input::placeholder {
 
  font-weight: 200;
  font-family: 'Arial', sans-serif;
}

.form-label{

  font-size: 125%;
  font-weight: 300;
  margin-right: 2vw;
}

.divider {
  height: 2px;
  background-color: #ebedee; /* Light grey color for the divider */
  border-radius: 5px; /* Rounded edges */
  margin: 20px 0; /* Space around the divider */
}

.divider1 {
  height: 2px;
  background-color: #fcfcfc; /* Light grey color for the divider */
  border-radius: 5px; /* Rounded edges */
  margin: 20px 0; /* Space around the divider */
}

.form-control{
  width : 45%;
}

.mt-4{
  font-family: 'Arial', sans-serif; /* Modern system font */
    font-weight: bold; /* Bold text */
  font-size: large;
    color: black; /* Text color */
   
}

.mb-4{
  font-size: smaller;
  font-weight: 200;

}

.btn1{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  width : 75%
}
